<div>
  <div class="div2">
    <div>
      <div class="divTotal">
        <div class="actual divImagen">
          <img [src]="producto?.imagen" class="img" />
          <div *ngIf="imagenCargada" class="divInputAndLabel">
            <h3 class="nombre">Ingrese una imagen</h3>
            <input
              type="text"
              class="nombre inputs"
              [(ngModel)]="producto.imagen"
              placeholder="Ingrese Link de la nueva imagen"
            />
          </div>

          <div>
            <i
              _ngcontent-yvo-c11=""
              class="bi bi-pencil-fill icon"
              (click)="editImagen()"
            ></i>
            <i class="bi bi-check2 icon2" (click)="cargarImagen()"></i>
          </div>
        </div>
      </div>
      <div class="actual">
        <h3 class="nombre edits">Nombre:</h3>
        <input
          type="text"
          [(ngModel)]="producto.nombre"
          class="nombre inputs"
        />
      </div>
      <div class="actual">
        <h3 class="categoria edits">Categoria:</h3>
        <select [(ngModel)]="producto.categoria" class="nombre inputs">
          <option disabled selected>Selecciona una categoría</option>
          <option value="Memorias RAM">Memorias RAM</option>
          <option value="Procesadores">Procesadores</option>
          <option value="Placas de Video">Placas de Video</option>
          <option value="Gabinetes">Gabinetes</option>
        </select>
      </div>
      <div class="actual">
        <h3 class="edits">Detalles:</h3>
        <input type="text" [(ngModel)]="producto.detalles" class="inputs" />
      </div>
      <div class="actual">
        <h3 class="precio edits">Precio: $</h3>
        <input type="number" [(ngModel)]="producto.precio" class="inputs" />
      </div>
      <div class="actual">
        <h3 class="check">
          Disponible:
          <p *ngIf="producto.dispible" class="pSiNo">Si</p>
          <p *ngIf="!producto.dispible" class="pSiNo">No</p>
          <input
            type="checkbox"
            [(ngModel)]="producto.dispible"
            class="mycheck"
          />
        </h3>
      </div>
    </div>
  </div>
  <div class="divBtn p-3">
    <button
      (click)="guardarProducto()"
      class="btnGuardar"
      [disabled]="!todosLosCamposRellenados()"

    >
      Guardar
    </button>
  </div>
</div>
