<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="https://www.afip.gob.ar/images/f960/DATAWEB.jpg" alt="Logo AFIP" class="fiscal"/>
    </div>
    <div class="footer-info">
      <img src="https://notech-company.vercel.app/assets/icons/NOTECH.png" alt="Logo NOTECH" class="notech"/>
      <p>Contacto: contacto.notech@gmail.com</p>
    </div>
    <div class="footer-help">
      <p>Si tienes sugerencias o comentarios, contáctanos.</p>
    </div>
  </div>
</footer>
