.footer {
  color: #fff;
  background-color: var(--secondary-color);
  padding: 2rem;
}
.footer-content {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.fiscal {
  height: 5rem;
}
.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}
.notech {
  height: auto;
  margin: 0.5rem;
  max-width: 100%;
}

.footer-help {
  text-align: center;
  width: 200px;
}
.footer-logo {
  width: 200px;
}

@media screen and (max-width: 600px) {
  .fiscal {
    display: none;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
  .footer-info {
    margin-bottom: 10px;
  }.footer-help{
    display: none;
  }
}
