<footer>
  <!-- <div>marcas</div> -->
  <div class="divGeneral">
    <div>
      <p>
        <a href="https://ondev.vercel.app/" target="_blank" class="a">
          Desarrollado por ONDev
        </a>
      </p>
    </div>

    <div class="div">
      <ul class="ul">
        <li class="li">
          <a href="https://github.com/Nicovied0" target="_blank">
            <img
              src="../../assets/gh.png"
              alt="imgGithub"
              width="{30}"
              height="{30}"
              class="img"
            />
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/nicoboviedo/" target="_blank">
            <img
              src="../../assets/linkedin.png"
              alt="imgLiIn"
              width="{30}"
              height="{30}"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
