<div class="contenedor">
  <div class="container" *ngIf="loading; else elseDiv">
    <div *ngIf="!carritoVacio; else carritoDivVacio">
      <div class="div2">
        <div class="div" *ngFor="let producto of productos">
          <div class="divImgNombre">
            <div style="margin: 0 1rem">
              <img [src]="producto.imagen" class="img" />
            </div>
            <div class="divNombre">
              <h2 class="nombre">{{ producto.nombre }}</h2>
            </div>
          </div>
          <div class="divCantidad">
            <span class="btncontador" (click)="restarCantidad(producto)"
              >-</span
            >
            <h3>{{ producto.cantidad }}</h3>
            <span class="btncontador" (click)="sumarCantidad(producto)">+</span>
          </div>

          <div class="divPrecio">
            <h3 class="precio">$ {{ producto.precio }}</h3>
          </div>
          <div class="divBorrar">
            <i
              class="bi bi-trash-fill icon icon2"
              (click)="deleteProductCarrito(producto.id)"
            ></i>
          </div>
        </div>

        <div class="divPrecioTotal">
          <div class="divPrecioTotal2">
            <div class="PrecioTotal">
              <h2 class="PrecioTotalh2">Total:</h2>
              <h2 class="PrecioTotalh2">${{ precioTotal }}</h2>
            </div>
            <div>
              <button class="boton" (click)="comprar(precioTotal)">
                Comprar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #carritoDivVacio>
    <div class="contenedor">
      <h2>Tu carrito esta vacio</h2>
      <div class="divCarritoVACIO">
        <h3>Ve a ver Nuestros productos!</h3>
        <button class="btn btn-primary" (click)="goProductos()">
          Productos
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #elseDiv>
    <app-loader></app-loader>
  </ng-template>
</div>
