<div class="home-div">
  <form #f="ngForm" (ngSubmit)="f.form.valid && login(f)" class="forms">
    <div class="m-3 d-flex flex-column">
      <label class="col-sm-2 col-form-label"> Email </label>
      <input
        type="text"
        name="email"
        placeholder="Email"
        class="form-control input"
        required
        ngModel
      />
    </div>
    <div class="m-3 d-flex flex-column">
      <label class="col-sm-2 col-form-label"> Contraseña </label>
      <input
        name="password"
        type="password"
        placeholder="Contraseña"
        class="form-control  input "
        required
        ngModel
      />
    </div>
    <div class="m-3 d-flex">
      <button class="btn btn-primary">Iniciar sesion</button>
    </div>
  </form>
</div>
