.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
}

.div {
  display: flex;
  max-width: 100%;
  padding: 1rem 0.5rem 0;
  align-items: center;
}
.nav-title {
  cursor: pointer;
  text-wrap: nowrap;
  font-size: x-large;
  font-weight: 900;
  margin: 0.3rem;
}

.serchbar {
  width: 50rem;
}

.iClass {
  font-size: 1.5rem;
  color: #000;
  padding: 1rem;
  cursor: pointer;
  border-radius: 100%;
}

.iClass:hover {
  background-color: #ffffff19;
}

.div2 {
  background-color: var(--secondary-color);
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btns {
  color: #fff;
  margin: 0.5rem;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.btns:hover {
  color: #000;
}

.div4 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
