<nav class="nav">
  <h2 style="cursor: pointer" (click)="goHome()">CPU Central</h2>
  <app-serch-bar class="serchbar"></app-serch-bar>
  <i
    class="bi bi-cart iClass"
    style="
      font-size: 2rem;
      color: #fff;
      padding: 1rem;
      cursor: pointer;
      border-radius: 100%;
    "
    (click)="goCarrito()"
  ></i>
  <i
    class="bi bi-person-circle iClass"
    style="
      font-size: 2rem;
      color: #fff;
      padding: 1rem;
      cursor: pointer;
      border-radius: 100%;
    "
    (click)="goProfile()"
  ></i>
  <i
  *ngIf="userAdmin"
    class="bi bi-gear iClass"
    style="
      font-size: 2rem;
      color: #fff;
      padding: 1rem;
      cursor: pointer;
      border-radius: 100%;
    "
    (click)="goPanelAdmin()"
  ></i>
</nav>
