<div class="contenedor">
  <img
    src="https://imagenes.compragamer.com/marcas/imagen_marca_308_9_866.jpg"
    class="img"
  />
  <img
    src="https://imagenes.compragamer.com/marcas/imagen_marca_314_9_380.jpg"
    class="img"
  />

  <img
    src="https://imagenes.compragamer.com/marcas/imagen_marca_343_9_603.jpg"
    class="img"
  />
  <img
    src="https://imagenes.compragamer.com/marcas/imagen_marca_316_9_591.png"
    class="img"
  />
  <img
    src="https://imagenes.compragamer.com/marcas/imagen_marca_371_9_755.jpg"
    class="img"
  />
  <img
    src="https://imagenes.compragamer.com/marcas/imagen_marca_370_9_893.jpg"
    class="img"
  />
  <img
    src="https://imagenes.compragamer.com/marcas/imagen_marca_367_9_389.jpg"
    class="img"
  />
  <img
    src="https://imagenes.compragamer.com/marcas/imagen_marca_364_9_203.jpg"
    class="img"
  />
  <img
    src="https://imagenes.compragamer.com/marcas/imagen_marca_365_9_441.jpg"
    class="img"
  />
  <img
    src="https://imagenes.compragamer.com/marcas/imagen_marca_360_9_796.jpg"
    class="img"
  />
  <img
    src="https://imagenes.compragamer.com/marcas/imagen_marca_359_9_526.jpg"
    class="img"
  />
  <img
    src="https://imagenes.compragamer.com/marcas/imagen_marca_303_9_754.jpg"
    class="img"
  />
  <img
    src="https://imagenes.compragamer.com/marcas/imagen_marca_320_9_411.jpg"
    class="img"
  />
</div>
