<div class="div" *ngIf="loading; else elseDiv">
  <div class="div2">
    <div>
      <div class="divTotal">
        <div class="actual">
          <img [src]="productoId?.imagen" class="img" />
          <i class="bi bi-pencil-fill icon" (click)="editImagen()"></i>
          <div *ngIf="editImage">
            <!-- <input type="file" (change)="onFileSelected($event)" /> -->
            <!-- <input type="file"    [(ngModel)]="productoId.imagen" /> -->

            <!-- <input type="text" (change)="onFileLink($event)" /> -->
            <input type="text" [(ngModel)]="productoId.imagen" />
            <button (click)="guardarProducto()">Cargar</button>
            <!-- <img [src]="imageSrc" alt="imgCargada" class="img" /> -->
          </div>
        </div>
        <div class="actual">
          <h3 class="nombre edits">Nombre:</h3>
          <input
            type="text"
            [(ngModel)]="productoId.nombre"
            class="nombre inputs"
          />
        </div>
        <div class="actual">
          <h3 class="categoria edits">Categoria:</h3>
          <input
            type="text"
            [(ngModel)]="productoId.categoria"
            class="nombre inputs"
          />
        </div>
        <div class="actual">
          <h3 class="edits">Detalles:</h3>
          <input type="text" [(ngModel)]="productoId.detalles" class="inputs" />
        </div>

        <div class="actual">
          <h3 class="precio edits">Precio: $</h3>
          <input type="number" [(ngModel)]="productoId.precio" class="inputs" />
        </div>
        <div class="actual">
          <h3 class="check">
            Disponible:
            <p *ngIf="productoId.dispible" class="pSiNo">Si</p>
            <p *ngIf="!productoId.dispible" class="pSiNo">No</p>
            <input
              type="checkbox"
              [(ngModel)]="productoId.dispible"
              class="mycheck"
            />
          </h3>
        </div>
      </div>
    </div>
    <div class="divBtn">
      <button (click)="guardarProducto()" class="btnGuardar">Guardar</button>
    </div>
  </div>
</div>
<ng-template #elseDiv>
  <app-loader></app-loader>
</ng-template>
