<div class="container" *ngIf="loading; else elseDiv">
  <div>
    <h2>Catalogo de productos</h2>
    <div>
      <h3>Ordenar por</h3>
      <select (change)="onChangeOrder($event)">
        <option value="x">Relevancia</option>
        <option value="menor">Menor Precio</option>
        <option value="mayor">Mayor Precio</option>
      </select>
    </div>
  </div>
  <div class="div2">
    <div class="div" *ngFor="let producto of productos">
      <div>
        <img [src]="producto.imagen" class="img" />
      </div>
      <div>
        <h2 class="nombre">{{ producto.nombre }}</h2>
        <p>{{ producto.detalles }}</p>
        <h3 class="precio">$ {{ producto.precio }}</h3>
      </div>
      <div>
        <button class="button" (click)="verDetalle(producto.index)">
          Ver Producto
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #elseDiv>
  <app-loader></app-loader>
</ng-template>
