<div class="containers" *ngIf="loading; else elseDiv">
  <div>
    <div class="divOrder">
      <h3>Ordenar por</h3>
      <select (change)="onChangeOrder($event)" class="selectInput">
        <option value="x">Relevancia</option>
        <option value="menor">Menor Precio</option>
        <option value="mayor">Mayor Precio</option>
      </select>
    </div>
  </div>
  <div class="filtersAndCards">
    <div class="divFiltros">
<app-filters (filterChanged)="onFilterChange($event)"></app-filters>
    
    </div>
    <div class="div2">
      <div
        *ngFor="let producto of applyFilter(); let i = index"
        (mouseenter)="onMouseEnter(i)"
        (mouseleave)="onMouseLeave(i)"
      >
        <div (click)="verDetalle(producto.id)" style="position: relative">
          <h2 *ngIf="!producto.dispible" class="NoDisponible">Sin Stock</h2>
          <div class="div">
            <div>
              <img [src]="producto.imagen" class="img" />
            </div>
            <div class="description">
              <h3 class="precio">$ {{ producto.precio }}</h3>
              <p class="parrafo">Envio Gratis</p>
              <h2 class="nombre" [ngClass]="{ 'show-nombre': hoverIndex === i }">
                {{ hoverIndex === i ? producto.nombre : "" }}
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #elseDiv>
  <app-loader></app-loader>
</ng-template>
