<div class="div">
  <div class="titulo">
    <h2 style="color: white">Ofertas</h2>
  </div>
  <div class="carousel-container">
    <div class="carousel-track">
      <ng-container *ngFor="let producto of productos">
        <div class="carousel-item">
          <div class="product">
            <h5 class="descuento">20% OFF</h5>
            <img [src]="producto.imagen" alt="Producto" class="img" />
            <h3 class="nombre">{{ producto.nombre }}</h3>
            <div class="divPrecioProduct">
              <button class="btn btn-primary" (click)="goProducto(producto.index)">Ver Producto</button>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngFor="let producto of productos2">
        <div class="carousel-item">
          <div class="product">
            <h5 class="descuento">20% OFF</h5>
            <img [src]="producto.imagen" alt="Producto" class="img" />
            <h3 class="nombre">{{ producto.nombre }}</h3>
            <div class="divPrecioProduct">
              <button class="btn btn-primary" (click)="goProducto(producto.index)">Ver Producto</button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
