.div {
  overflow: hidden;
  max-width: 100%;
}

.carousel-container {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.product {
  display: flex;
  background-color: gray;
  height: 25rem;
  flex-direction: column;
  align-items: center;
}

.img {
  width: 100% !important
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.descuento {
  font-size: 1rem;
  padding: 1rem;
  font-size: larger;
  right: 3rem;
  font-style: italic;
  color: lime;
  position: absolute;
  text-shadow: 0 0 black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.carousel-track {
  display: flex;
  animation: carousel-animation 20s linear infinite;
}

.carousel-item {
  flex: 0 0 300px;
  margin-right: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  height: 25rem;
}

@keyframes carousel-animation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
