<div class="div2">
  <div class="div" *ngFor="let producto of productos">
    <div>
      <img [src]="producto.imagen" class="img" />
    </div>
    <div class="divText">
      <h2 class="nombre">Nombre: {{ producto.nombre }}</h2>
      <p *ngIf="producto.detalles">Detalles: {{ producto.detalles }}</p>
      <h3 class="precio">Precio: ${{ producto.precio }}</h3>
    </div>
    <div class="divButtons">
      <i class="bi bi-pencil-fill icon" (click)="Edit(producto.id)"></i>
      <i class="bi bi-trash-fill icon icon2" (click)="Edit(producto.id)"></i>
    </div>
  </div>
</div>
