<div class="div" *ngIf="loading; else elseDiv">
  <div>
    <h3 class="categoria">{{ productoId?.categoria }}</h3>

    <img [src]="productoId?.imagen" class="img" />
  </div>
  <div>
    <h2 class="nombre">{{ productoId?.nombre }}</h2>
    <p>{{ productoId?.detalles }}</p>
    <h3 class="precio">$ {{ productoId?.precio }}</h3>
  </div>
  <div class="notification">
    <i class="bi bi-shield-fill-check iClass"></i>
    <i class="bi bi-check-lg iClass"></i>
    <i class="bi bi-truck iClass"></i>
  </div>
  <div>
    <button class="button">Agregar al carrito</button>
  </div>
</div>

<ng-template #elseDiv>
  <app-loader></app-loader>
</ng-template>
