.div {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  max-width: 100%;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 1rem;
}
.div2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contenedor {
  background-color: #eee;
  padding: 3rem;
}

.agregado {
  padding: 1rem;
}

.buttonsCarrito {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.iClass {
  font-size: 2rem;
  color: rgb(76, 175, 80);
  padding: 1rem;
  cursor: pointer;
}

.img {
  width: 100%;
  overflow: hidden;
  padding: 2rem;
}

.precio {
  font-size: 35px;
  padding-top: 15px;
}

.nombre {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
}

.button {
  font-size: 12px !important;
  margin: 10px;
  border-radius: 0.7rem;
  color: #fff;
  background-color: #fd611a;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0.5rem 1.3rem;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  min-width: 64px;
  line-height: 36px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  scale: 1.1;
  transition: 0.5s ease-in-out;
}

.button:not(:hover) {
  transition: 0.5s ease-in-out;
}

.categoria {
  background-color: #fd611a;
  color: black;
  height: 40px;
  display: inline-flex;
  outline: 0;
  padding: 1rem;
  box-sizing: border-box;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  white-space: nowrap;
  border-radius: 16px;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
}

.notification {
  margin: 3rem 0;
}

.icon-container {
  position: relative;
  display: inline-block;
}

.icon {
  display: inline-block;
}

.text {
  position: absolute;
  top: 4rem;
  left: 0;
  opacity: 0;
  background-color: rgb(66, 66, 66);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: white;
  transition: opacity 0.3s ease-in-out;
  min-inline-size: max-content;
}

.icon:hover {
  scale: 1.1;
  transition: opacity 0.5s ease-in-out;
}

.icon-container:hover .text {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .div2 {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .contenedor {
    padding: 2rem 0rem;
  }
  .div {
    padding: 2rem 1rem;
    border-radius: 0;
  }
  .text {
    left: -6rem;
  }
}
