<div class="div">
  <div class="div2">
    <input
      type="text"
      placeholder="Buscar productos o marcas"
      class="form-control input"
      [(ngModel)]="value"
      (ngModelChange)="searchButton($event)"
    />
    <i
      class="bi bi-search search"

    ></i>
  </div>
  <div class="dropdown" *ngIf="showDropdown && value.length > 0">
    <ul class="ul">
      <li *ngFor="let producto of resultados" class="li">
        <div class="divLi" (click)="goProduct(producto.id)">
          <img src={{producto.imagen}} class="img" />
          <h3 class="nombre">
            {{ producto.nombre }}
          </h3>
        </div>
        <h3 class="precio">${{ producto.precio }}</h3>
      </li>
      <li *ngIf="resultadosNoEncontrados">
        <h4 class="nombre">No se encontraron productos</h4>
      </li>
    </ul>
  </div>
</div>
