.div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.div2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 90%;
}

.input {
  padding: 0.5rem;
}




.dropdown {
  position: absolute;
  top: 10%;
  margin-left: -5%;
  color: grey;
  width: 35rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 40;

}

.ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.divLi {
  display: flex;
  justify-content: center;
  align-items: center;
}

.li {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #8080802e;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
}

.li:hover {
  background: #3f51b5;
  color: white;
}

.img {
  height: 4rem;
  margin: 0.7rem;
}

.precio {
  font-weight: 700;
  font-size: 1rem;
  margin-left: 1rem;
}

.nombre {
  font-size: 1rem;
}
