<div class="container">
  <div class="filtros">
    <div>
      <h2 *ngIf="!categoriaActual">Mostrar productos por categorias</h2>
      <h2 style="color: #3f51b5; font-weight: bolder">{{ categoriaActual }}</h2>
    </div>
    <div class="divButtons">
      <button class="btn btn-primary m-3" (click)="getMemorias()">
        Memorias RAM
      </button>
      <button class="btn btn-primary m-3" (click)="getProcesadores()">
        Procesadores
      </button>
      <button class="btn btn-primary m-3" (click)="getPlacas()">
        Placas de Video
      </button>
      <button class="btn btn-primary m-3" (click)="getGabinetes()">
        Gabinetes
      </button>
    </div>
  </div>
  <div class="div2" *ngIf="carga; else elseDiv">
    <div
      class="div"
      *ngFor="let producto of productos; let i = index"
      (mouseenter)="onMouseEnter(i)"
      (mouseleave)="onMouseLeave(i)"
    >
      <div (click)="verDetalle(producto.id)">
        <div>
          <img [src]="producto.imagen" class="img" />
        </div>
        <div>
          <h3 class="precio">$ {{ producto.precio }}</h3>
          <p class="parrafo">Envio Gratis</p>
          <h2 class="nombre" [ngClass]="{ 'show-nombre': hoverIndex === i }">
            {{ hoverIndex === i ? producto.nombre : "" }}
          </h2>
        </div>
      </div>
    </div>
  </div>

  <ng-template #elseDiv class="div2">
    <div class="divDodge">
      <h2>Elige una categoria</h2>
      <img
        src="https://i.pinimg.com/originals/aa/cc/83/aacc835a732af08e2f26854df0d5806e.gif"
      />
    </div>
  </ng-template>
</div>
